.img_produto > img{
    width: 100%;
    height: 100%;
}
.produtos{
    padding: 0.625em;
}
.lojinha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.box_produto{
    border: 0.0625em;
    border-color: rgb(167, 79, 47);
    border-style: solid;
    margin: 0.3125em;
    box-sizing: border-box;
    height: 30.625em;
    width: 20.375em;
}
.box_produto:hover{
    box-shadow: 0px 0px 20px 0px rgb(167, 79, 47);
}
.img_produto{
    width: 100%;
    height: 70%;
}
.cod_produto{
    width: 100%;
    height: 10%;
    vertical-align: middle;
}
.nome_produto{
    width: 100%;
    height: 10%;
    vertical-align: middle;
}
.detalhes_produto{
    width: 100%;
    height: 10%;
    vertical-align: middle;
}
.pesquisar_produtos{
    width: 18.75em;
    margin: 0 auto;
}
.vertical_align_center{
    vertical-align: middle;
}