.quadro_servicos{
    
}
.servico_unit{
    margin: 0.5em;
}
.servico_unit > div{
    margin: 0.8em;
}
.servico_unit > div > p{
    text-align: left
}
.img{
    max-width: 80%;
    border-radius: 1em;
}






@media (min-width: 768px){
    .servicos{
        padding: 0.5em; /*10px*/
    }
    .quadro_servicos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-end; /*flex-end alinha as boxes por baixo??*/

    }
    .quadro_servicos > div{
        /*sem sinal >, todos os elementos são afetados
        com sinal, somente os imediatamente ligados são afetados
        Nesse exemplo, sem >, todas as div's abaixo de quadro_servicos tem a margin alterada,
        incluindo as div's internas .servico_unit.
        Com >, somente as div's maiores são afetadas*/
        margin: 0.5em; /*10px*/
    }
    .servico_unit{
        width: 47%; /*350px*/
    }
    .servico_unit > div{
        margin: 0.5em; /*10px*/
    }
}