.img_sobre{
    max-width: 80%;
    border-radius: 1em;
}
.box_sobre{
    margin: 1em;
}
.box_sobre > div > p{
    text-align: left
}

@media (min-width: 768px){
    .sobre{
        margin: 0em;
        padding: 0em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        max-width: 100%;
    }
    .box_sobre{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%; 
    }
    .img_sobre{
        width: 100%;
    }
    .txt_box_sobre{
        max-width: 50%;
    }
    .txt_box_sobre > h3{
        text-align: center;
    }
}
